@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$body-bg: rgb(31, 205, 127, 0.01);

$info: #5bae9e;
$primary: #12c574;
$one: #fab8ab;
$two: #508a7f;
$three: #af9890;
$four: #fc6464;
$five: #344e41;

$secondary: rgb(180, 180, 180);

$theme-colors: map-merge(
  $theme-colors,
  (
    "info": $info,
    "one": $one,
    "two": $two,
    "three": $three,
    "four": $four,
    "five": $five,
    "primary": $primary,
    "secondary": $secondary,
  )
);

.clear {
  clear: both;
  height: 80px;
}

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
}
.waviy span {
  font-family: "Alfa Slab One", cursive;
  position: relative;
  display: inline-block;
  color: #12c574;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.fancy {
  position: relative;
  -webkit-box-reflect: below -40px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 40px;
  font-family: "Alfa Slab One", cursive;
  display: inline-block;
  color: rgb(180, 180, 180);
  text-transform: uppercase;
}

@keyframes fancy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.gitlab:hover {
  opacity: 0.5;
}

.newbutton {
  border-radius: 20px;
  border: 1px solid rgb(180, 180, 180);
  background-color: rgb(180, 180, 180);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.newbutton:hover {
  opacity: 0.5;
}

.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.pages {
  font-size: 12px;
  text-transform: uppercase;
}

.pages:hover {
  opacity: 0.5;
}

.btn-scrollTop {
  position: fixed;
  bottom: 80px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: $primary;
  right: 2%;
  background: none;
  border-radius: 50px;
  padding: 0px;
  border: none;
  opacity: 0.7;
}

@import "bootstrap";
