.vector-image {
  background-image: url("./media/pictures/background.jpg");
}

.container-landing-page {
  position: relative;
  text-align: center;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}
